In [5]:
import pandas as pd 
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
import joblib

In [6]:
# appel de dataset
donnee=pd.read_csv('zem.csv')
donnee

    Villa  Avenues  Electricite     Prix
0       4       90            1    45000
1       2       30            2    15000
2       5       90            1    60000
3       4       82            1   350000
4       1       20            2   100000
5       3       50            2   430000
6       4       77            1   700000
7       2       32            2    90000
8       2       27            2   340000
9       4       79            1  5679000
10      2       35            2    45300
11      5       99            1  4326000

In [7]:
# Determiner les x et les y
x=donnee[['Villa','Avenues','Electricite']]
y=donnee['Prix']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=0)

In [8]:
regresseur=LinearRegression()
regresseur.fit(x_train,y_train)

LinearRegression()

In [9]:
joblib.dump(regresseur,'jonathan.pkl')

['jonathan.pkl']

In [10]:
predict=regresseur.predict(x_test)

In [11]:
df=pd.DataFrame({
    "valeur actuelle":y_test,
    "Notre Prediction":predict
})
df

    valeur actuelle  Notre Prediction
6            700000      4.394667e+06
11          4326000      4.083833e+06
4            100000     -3.925333e+06
10            45300     -1.747667e+06
2             60000      7.283333e+06